{{#link-to 'cars.new'}}Create Car{{/link-to}}
<hr>
{{outlet}}
<h1>Cars</h1>
<ul>
  {{#each model as |car|}}
    <li>{{car.year}} {{car.make}} {{car.model}} - {{#link-to 'cars.edit' car.id}}Edit{{/link-to}} <button {{action 'deleteCar' car.id}}>Delete</button></li>
  {{/each}}
</ul>
